// Нуллстайл
@import "null.scss";

// Шрифты
@import "fonts.scss";

// Переменные, шаблоны, миксины
@import "templates.scss";


/*=============
	ОБЩИЕ СТИЛИ
=============*/

body {
	background-color: #0B1D26;
	color: #fff;
	font-family: Gilroy;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	padding: 65px 60px;
}

.content {
	max-width: 1460px;
	margin: 0 250px 200px;
}

a {
	color: #fff;
}


/*============
	ПАРАЛЛАКС
============*/

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: -999;
}
.bg-prlx {
	position: relative;
	height: 100%;
	&__clouds {
		background: url('../img/bg/clouds.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}

	&__mountains {
		position: absolute;
		top: 40%;
		background: url('../img/bg/mountains-filled.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}

	&__hill {
		position: relative;
		top: -29%;
		background: url('../img/bg/gradient-hill.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}
}


/*============
ОСНОВНЫЕ СТИЛИ
============*/

// HEADER
.header {
	margin: 0 0 200px 0;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		@include logo;
	}

	&__links {
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		ul {
			display: flex;
			li {
				margin: 0 40px 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
	}
}

.account {
	&__avatar {
		margin: 0 8px 0 0;
	}

	&__menu {
		font-size: 17px;
		line-height: 21px;
	}
}
// /HEADER

// SUBHEADER
.top {
	&__subheader {
		margin: 0 0 800px 0;
	}
}
.subheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__socials-text {
		margin: 0 0 25px 0;
	  writing-mode: vertical-rl;
	}

	&__socials-iconlink {
		margin: 0 0 25px 0;
		&:last-child {
			margin: 0;
		}
	}

	&__titleblock {
	}

	&__progbar {
	}
}
.titleblock {
	padding: 0 20px;
	max-width: 1000px;
	&__yellowtxt {
		@extend %yellowtext-n-line;
		margin: 0 0 25px 0;
	}

	&__title {
		margin: 0 0 45px 0;

		font-family: $secondfont;
		font-weight: 600;
		font-size: 88px;
		line-height: 100px;
		text-transform: capitalize;
	}

	&__anchor-link {
		display: inline-block;
		font-size: 18px;
		line-height: 22px;
		span {
			padding: 5px 35px 5px 0;
			background: url('../img/icons/arrow_downward.svg') right 5px no-repeat;
		}
	}
}

.progbar {
	display: flex;
	align-items: center;
	text-align: right;
	&__numbers {
		margin: 0 30px 0 0;

		font-size: 18px;
		line-height: 22px;
		p {
			margin-bottom: 40px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__bar {
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 3px;
			height: 240px;
			background-color: #fff;
			opacity: 0.5;
		}
		&:after {
			position: absolute;
			top: 0;

			content: '';
			display: block;
			width: 3px;
			height: 60px;
			background-color: #fff;
		}
	}
}
// /SUBHEADER

// MAIN CONTENT
.main {
	&__01 {
	}
	&__02 {
		@include reversed-flow;
	}
	&__03 {
	}
}
.contentblock {
	margin: 0 0 200px 0;
	&:last-child {
		margin: 0;
	}

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__article {
		margin: 0 115px 0 150px;
	}

	&__yellowtxt {
		position: relative;
		@extend %yellowtext-n-line;
	}

	&__blocknumber {
		position: absolute;
		left: -155px;

		font-weight: bold;
		font-size: 240px;
		line-height: 240px;
		opacity: 0.1;
		color: #fff;
	}

	&__title {
		max-width: 550px;
		margin: 0 0 25px 0;

		font-family: $secondfont;
		font-weight: 600;
		font-size: 64px;
		line-height: 77px;
	}

	&__text {
		max-width: 630px;
		margin: 0 0 25px 0;

		font-weight: 500;
		font-size: 18px;
		line-height: 32px;
	}

	&__link {
		display: inline-block;
		font-size: 18px;
		line-height: 22px;
		a {
			color: #FBD784;
		}
		span {
			padding-right: 40px;
			background: url('../img/icons/arrow.svg') right 5px no-repeat;
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			min-width: 400px;
		}
	}
}
// /MAIN CONTENT

// FOOTER
.footer {
	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__left-box {
	}

	&__right-box {
		display: flex;
	}
}
.footleftbx {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__item {
	}

	&__logo {
		margin: 0 0 25px 0;
		@include logo;
	}

	&__sign {
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;

		max-width: 300px;
	}

	&__copyright {
		font-size: 18px;
		font-weight: 500;
		line-height: 32px;
		opacity: 50%;
	}
}
.footrightbx {
	display: flex;
	justify-content: space-between;
	&__column {
		margin: 0 200px 0 0;
		&:last-child {
			margin: 0;
		}
	}

	&__ylwtxt {
		margin: 0 0 24px 0;

		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		color: #FBD784;
	}

	&__txt {
		font-size: 18px;
		font-weight: 500;
		line-height: 32px;
		p {
			margin: 0 0 24px 0;
			&:last-child {
				margin: 0;
			}
		}
	}
}
// /FOOTER


// МЕДИАЗАПРОСЫ //
@import "media.scss";
// МЕДИАЗАПРОСЫ //