// Нуллстайл
@import "null.scss";

// Шрифты
@import "fonts.scss";


/*=============
	ОБЩИЕ СТИЛИ
=============*/

body {
	background-color: #0B1D26;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	padding: 65px 60px;
}

.content {
	max-width: 1460px;
	margin: 0 auto;
}

a {
	color: #fff;
}


/*============
	ПАРАЛЛАКС
============*/

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: -999;
}
.bg-prlx {
	position: relative;
	height: 100%;
	&__clouds {
		background: url('../img/bg/clouds.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}

	&__mountains {
		position: absolute;
		top: 40%;
		background: url('../img/bg/mountains-filled.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}

	&__hill {
		position: relative;
		top: -29%;
		background: url('../img/bg/gradient-hill.png') 0 0 / 100% no-repeat;
		height: 100%;
		width: 100%;
	}
}


/*============
ОСНОВНЫЕ СТИЛИ
============*/

// HEADER
.header {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: Chronicle Display;
		font-size: 32px;
		line-height: 38px;
	}

	&__links {
		font-family: Gilroy;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		ul {
			display: flex;
			li {
				margin: 0 40px 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
	}
}

.account {
	&__avatar {
		margin: 0 8px 0 0;
	}

	&__menu {
		font-family: Gilroy;
		font-size: 17px;
		line-height: 21px;
	}
}
// /HEADER

// MAIN CONTENT
.main {
	&__01 {
	}
}
.contentblock {
	display: flex;
	&__blocknumber {

	}

	&__article {
	}

	&__yellowtxt {
		display: flex;
		align-items: center;

		font-family: Gilroy;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 6px;
		text-transform: uppercase;
		color: #FBD784;
		&:before {
			content: '';
			display: block;
			width: 72px;
			height: 2px;
			background-color: #FBD784;
			margin: 0 24px 0 0;
		}
	}

	&__title {
		font-family: Chronicle Display;
		font-weight: 600;
		font-size: 64px;
		line-height: 77px;
	}

	&__text {
		font-family: Gilroy;
		font-weight: 500;
		font-size: 18px;
		line-height: 32px;
	}

	&__link {
		font-family: Gilroy;
		font-size: 18px;
		line-height: 22px;
		a {
			color: #FBD784;
		}
		span {
			background: url('../img/icons/arrow.svg') rignt no-repeat;
		}
	}

	&__image {
	}
}

// /MAIN CONTENT


// МЕДИАЗАПРОСЫ //
@import "media.scss";
// МЕДИАЗАПРОСЫ //