@charset "UTF-8";
@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/Chronicle Display/Chronicle Display Bold.eot");
  src: local("☺"), url("../fonts/Chronicle Display/Chronicle Display Bold.woff") format("woff"), url("../fonts/Chronicle Display/Chronicle Display Bold.ttf") format("truetype"), url("../fonts/Chronicle Display/Chronicle Display Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/Chronicle Display/Chronicle Display Semibold.eot");
  src: local("☺"), url("../fonts/Chronicle Display/Chronicle Display Semibold.woff") format("woff"), url("../fonts/Chronicle Display/Chronicle Display Semibold.ttf") format("truetype"), url("../fonts/Chronicle Display/Chronicle Display Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/gilroy-bold.eot");
  src: local("☺"), url("../fonts/Gilroy/gilroy-bold.woff") format("woff"), url("../fonts/Gilroy/gilroy-bold.ttf") format("truetype"), url("../fonts/Gilroy/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/gilroy-extrabold.eot");
  src: local("☺"), url("../fonts/Gilroy/gilroy-extrabold.woff") format("woff"), url("../fonts/Gilroy/gilroy-extrabold.ttf") format("truetype"), url("../fonts/Gilroy/gilroy-extrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/gilroy-medium.eot");
  src: local("☺"), url("../fonts/Gilroy/gilroy-medium.woff") format("woff"), url("../fonts/Gilroy/gilroy-medium.ttf") format("truetype"), url("../fonts/Gilroy/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}